<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<?php
$phone = $block->getCustomer()->getCustomAttribute('phone');
$script = $block->getCustomer()->getCustomAttribute('customer_attribute_use_script');
$customerPhone = $phone ? $phone->getValue() : null;
$customerScript = $script ? $script->getValue() : null;
?>
<fieldset class="fieldset create account" >
    <legend class="legend">
        <span><?=$block->escapeHtmlAttr(__('Phone Number'))?></span>
    </legend>
    <br>
    <div class="field phone">
        <label for="phone" class="label"><span><?=$block->escapeHtmlAttr(__('Add Your Phone Number'));?></span></label>
        <div class="control">
            <input id="phone" class="input-text" name="phone"
                   value="<?=$block->escapeHtmlAttr($customerPhone);?>"
                   title="<?=$block->escapeHtmlAttr(__('Add Your Phone Number'));?>"
                   type="text" autocomplete="off"
                   data-validate="{required:true, 'validate_phone_frontend':true}"
            />
        </div>
    </div>
    <div class="field avatar">
        <label for="avatar" class="label"><span><?=$block->escapeHtmlAttr(__('Upload Your Avatar'));?></span></label>
        <div class="control">
            <input id="avatar" class="input-text" name="avatar"
                   value="<?=$block->escapeHtmlAttr($customerPhone);?>"
                   title="<?=$block->escapeHtmlAttr(__('Upload Your Avatar'));?>"
                   type="file" autocomplete="off"
            />
        </div>
    </div>
    <div class="field customer_attribute_use_script">
        <label for="customer_attribute_use_script" class="label"><span><?=$block->escapeHtmlAttr(__('Add Your Script'));?></span></label>
        <div class="control">
            <input id="avatar" class="input-text" name="customer_attribute_use_script"
                   value="<?=$block->escapeHtmlAttr($customerScript);?>"
                   title="<?=$block->escapeHtmlAttr(__('Add Your Script'));?>"
                   type="text" autocomplete="off"
            />
        </div>
    </div>
</fieldset>
<script type="text/x-magento-init">
    {
        "*": {
            "myValidation": {},
            "myPhoneValidation": {}
        }
    }
</script>
