<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<div class="pp-buttons-container">
    <button id="<?php echo $block->getId() ?>" onclick="reload()">
        <span><span><span><?php echo $block->escapeHtml($block->getButtonLabel()); ?></span></span></span>
    </button>
</div>
<script>
    function reload() {
        window.location.reload();
    }
</script>
