<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<legend class="legend">
    <span>
    <?php
    /* @escapeNotVerified */
    echo __('Logo')
    ?>
    </span>
</legend>
<p>
    <?php if ($logo = $block->getLogoUrl()): ?>
        <img src="<?php echo $logo ?>" alt="logo" />
    <?php endif; ?>
</p>
<p>
    <?php if ($name = $block->getCustomerName()): ?>
        <b><?php echo $name ?></b>
    <?php endif; ?>
</p>
<p>
    <?php if ($email = $block->getEmailName()): ?>
        <b><?php echo $email ?></b>
    <?php endif; ?>
</p>
<p>
    <?php if ($phone = $block->getPhoneNumber()): ?>
        <b><?php echo $phone ?></b>
    <?php endif; ?>
</p>
