<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */
echo __('* Required Fields') ?>">
    <legend class="legend">
        <span>
        <?php
        /* @escapeNotVerified */
        echo __('Additional Information')
        ?>
        </span>
    </legend>

    <p>
    <div class="field Avatar ">
        <label for="avatar" class="label"><span><?php /* @escapeNotVerified */
                echo __('Upload Your Avatar') ?></span></label>
        <div class="control">
            <input type="file" name="avatar" id="avatar" title="<?php /* @escapeNotVerified */
            echo __('Upload Your Avatar') ?>" class="input-text" data-validate="{required:false}">
        </div>
    </div>
    </p>
    <p>
    <div class="field Phone ">
        <label for="phone" class="label"><span><?php /* @escapeNotVerified */
                echo __('Your Phone Number') ?></span></label>
        <div class="control">
            <input type="text" name="phone" id="phone"
                   title="<?php /* @escapeNotVerified */echo __('Your Phone Number') ?>" class="input-text"
                   data-validate="{required:true, 'validate_phone_frontend':true}">
        </div>
    </div>
    </p>
    <p>
    <div class="field customer_attribute_use_script ">
        <label for="customer_attribute_use_script" class="label"><span><?php /* @escapeNotVerified */
                echo __('Use Setup Script') ?></span></label>
        <div class="control">
            <input type="text" name="customer_attribute_use_script" id="customer_attribute_use_script" title="<?php /* @escapeNotVerified */
            echo __('Use Setup script') ?>" class="input-text" data-validate="{required:true}">
        </div>
    </div>
    </p>
</fieldset>
<script type="text/x-magento-init">
    {
        "*": {
            "myValidation": {}
        }
    }
</script>
