<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<table class="email-items">
    <thead>
    <tr>
        <th>
            <?= /* @escapeNotVerified */  __('Course Code'); ?>
        </th>
        <th>
            <?= /* @escapeNotVerified */  __('Link Files'); ?>
        </th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->getItems() as $item): ?>
        <tr>
            <td><?= $item['code_field'] ?></td>
            <!-- <td><img src="<?= array_values($item['files'])[0]['url'] ?>" /></td> -->
            <td><?= array_values($item['files'])[0]['url'] ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
