<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<h2>Hello World</h2>
<p>
    <a href="<?php echo $block->getLandingsUrl(); ?>">Go to
        landings URL</a>
</p>
<p>
    <a href="<?php echo $block->getIndexUrl(); ?>">Go to
        index URL</a>
</p>
<p>
    <?php echo __('Test translation') ?>
</p>
