<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>

<h2>New Product</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($block->getProducts() as $product): ?>
            <tr>
                <td>
                    <?php echo $product->getName() ?>
                </td>
                <td>
                    <?php echo $product->getFinalPrice() ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
