<?php
/** @var \Packt\HelloWorld\Block\Landingspage $block */
$array  = (array('text' => 'test'));
?>

<h2>This is for test</h2>

<h3><?php echo $block->test($array)->getData('text') ?></h3>

<h3>Config Value</h3>

<p><?php echo $this->helper('Packt\HelloWorld\Helper\GetConfig')->getValueConfig(); ?></p>
