<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<?php //$block->testLog() ?>
<div id="modal-content">
    <div class="modal-inner-content">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" placeholder="Type your username"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" placeholder="Type your Password"/></td>
            </tr>
        </table>
    </div>
</div>
<button>Open Modal</button>
<button id="button-login">Open Magento Login Modal</button>
<button id="button-click">Open Customer Login Modal</button>
<input type="text" name="datetimepicker" id="datetimepicker" value="" class="datetimepicker">
<script>
    availableDates = ['01-24-2022','01-25-2022'];
    require([
        'jquery',
        'mage/calendar'
    ], function($){
        $('#datetimepicker').datetimepicker({
            dateFormat: 'dd/mm/yy',
            timeFormat: 'HH:mm:ss',
            beforeShowDay: function(d) {
                if (d.getDate() >= 8 && d.getDate() <= 12) {
                    return [true, "", "Available"];
                } else{
                    return [false, "", "unAvailable"];
                }
            },
            showsTime: true
        });
    });
</script>
