<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<table>
    <thead>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Content</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($block->getBlogs() as $product): ?>
        <tr>
            <td>
                <?php echo $product->getAuthor('firstname').' '.$product->getAuthor('lastname') ?>
            </td>
            <td>
                <?php echo $product->getTitle() ?>
            </td>
            <td>
                <?php echo $product->getDescription() ?>
            </td>
            <td>
                <?php echo $product->getContent() ?>
            </td>
            <td>
                <?php echo $product->getStatus() ?>
            </td>
            <td>
                <a href="<?php echo $this->getUrl('movie/blog/view', ['id' => $product->getId()]) ?>"><button><?php echo "View Blog".' '.$product->getId() ?></button></a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
