<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<h1>Xin chao</h1>
<table>
    <thead>
        <tr>
            <th>Movie</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Director</th>
            <th>Actors</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($block->getMovies() as $product): ?>
            <tr>
                <td>
                    <?php echo $product->getName() ?>
                </td>
                <td>
                    <?php echo $product->getDescription() ?>
                </td>
                <td>
                    <?php echo $product->getRating() ?>
                </td>
                <td>
                    <?php echo $product->getDirector() ?>
                </td>
                <td>
                    <?php echo $product->getActor() ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Movie</th>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Director</th>
    </tr>
    </thead>
    <tbody>
    <?php $products = $block->getMoviesUsingRepo() ?>
        <tr>
            <td>
                <?php echo $products['movie_id'] ?>
            </td>
            <td>
                <?php echo $products['name'] ?>
            </td>
            <td>
                <?php echo $products['description'] ?>
            </td>
            <td>
                <?php echo $products['rating'] ?>
            </td>
            <td>
                <?php echo $products['director_id'] ?>
            </td>
        </tr>
    </tbody>
</table>
