<?php
/** @var \Magento\Framework\View\Element\Template $block */
// $subBlog = $block->getLayout()->getBlock('sub_blog');
$subBlog = $block->getChildBlock('sub_sub');
// $block->getChildData('');
$name = $block->getChildNames();
// $block->getGroupChildNames();
// $block->getChildChildHtml();
?>
<h1>This is parent blog</h1>
<p><b><?php echo $subBlog->toHtml() ?></b></p>
<?php echo $block->getChildHtml('sub_sub') ?>
<p><?php echo $block->getText() ?></p>

