<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<div class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?= $block->escapeHtml(__('Report')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title"><span class="title">Modules</span></div>
            <div class="admin__page-section-item-content">
                <p>Number of Modules installed is: <strong><?php echo $block->getModuleInstalled() ?></strong></p>
                <p>Number of Modules installed except Magento is: <strong><?php echo $block->getModuleInstalledExceptMagento() ?></strong></p>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-item-title"><span class="title">Info</span></div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary">
                    <tbody>
                        <tr>
                            <td>Number of Product</td>
                            <td><?php echo $block->getProduct() ?></td>
                        </tr>
                        <tr>
                            <td>Number of Customer</td>
                            <td><?php echo $block->getCustomer() ?></td>
                        </tr>
                        <tr>
                            <td>Number of Order</td>
                            <td><?php echo $block->getOrder() ?></td>
                        </tr>
                        <tr>
                            <td>Number of Invoice</td>
                            <td><?php echo $block->getInvoice() ?></td>
                        </tr>
                        <tr>
                            <td>Number of Creditmemo</td>
                            <td><?php echo $block->getCreditmemo() ?></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
