<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>
<h1>Hello world</h1>
<h2>
    <?php echo $block->greet(); ?>
</h2>

<table border="1">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <?php if(is_array($block->getAllData())) : ?>
        <?php foreach ($block->getAllData() as $user):?>
            <tr>
                <td>
                    <?= $user->getFirstname() ?>
                </td>
                <td>
                    <?= $user->getLastname() ?>
                </td>
                <td>
                    <?= $user->getEmail() ?>
                </td>
                <td>
                    <?= $user->getMessage() ?>
                </td>
                <td>
                    <?= $user->getStatus() ?>
                </td>
            </tr>
        <?php endforeach; ?>
        <?php else : ?>
        <?php $user = $block->getAllData()?>
            <tr>
                <td>
                    <?= $user->getFirstname() ?>
                </td>
                <td>
                    <?= $user->getLastname() ?>
                </td>
                <td>
                    <?= $user->getEmail() ?>
                </td>
                <td>
                    <?= $user->getMessage() ?>
                </td>
                <td>
                    <?= $user->getStatus() ?>
                </td>
            </tr>
    <?php endif; ?>
    </tbody>
</table>
