<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>

<button id="sample">
    <?= $block->getData('title') ?>
</button>

<style>
    #sample {
        border-radius: 5px;
        width: <?= $block->getData('width') ?>;
        height: <?= $block->getData('height') ?>;
        color: <?= $block->getData('color') ?>;
    }
</style>
